<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kickstartlab.jm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    <uses-feature
		android:glEsVersion="0x00020000"
		android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:name="com.kickstartlab.jm.JayonApp"
        android:icon="@drawable/jicon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.kickstartlab.jm.JayonMobileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kickstartlab.jm.DeliveryListActivity" >
        </activity>
        <activity android:name="com.kickstartlab.jm.AdminOptionActivity" >
        </activity>
        <activity
            android:name="com.kickstartlab.jm.DeliveryDetailActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="com.kickstartlab.jm.LocationActivity" >
        </activity>
        <activity android:name="com.kickstartlab.jm.GetDataActivity" >
        </activity>
        <activity android:name="com.kickstartlab.jm.RequestKeyActivity" >
        </activity>
        <activity android:name="com.kickstartlab.jm.ChangePassActivity" >
        </activity>
        <activity android:name="com.kickstartlab.jm.AutoSettingActivity" >
        </activity>
        <activity android:name="com.kickstartlab.jm.ScanActivity" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.kickstartlab.jm.GeoReportService" >
        </service>

        <receiver android:name="com.kickstartlab.jm.GeoReporter" >
        </receiver>
        <receiver android:name="com.kickstartlab.jm.ConnMon" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.kickstartlab.jm.RouteListActivity"
            android:label="@string/title_activity_route_list" >
        </activity>
        <activity
            android:name="com.kickstartlab.jm.SignatureActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_signature" >
        </activity>
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        <meta-data
		    android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyAKGMJu6euE9HK-zjXdGYW1lix7iNKqHDU" />
    </application>

    
</manifest>